@import "../../assets/scss/style.scss";

.why-choose {
    padding: 50px 0 30px;
    background: rgba(3, 0, 71, .09);

    .why-choose-box {
        margin-bottom: 20px;
        box-shadow: rgba(50, 50, 93, 0.01) 0px 13px 27px -5px,
                    rgba(0, 0, 0, 0.10) 0px 8px 16px -8px;;
        padding: 25px;
        border-radius: 10px;
        text-align: center;
        background: $white-color;

        .why-choose-icon {
            background: rgb(243, 245, 249);
            width: 70px;
            height: 70px;
            border-radius: 70px;
            line-height: 70px;
            margin: auto;

            img {
                max-width: 40px;
            }
        }

        .why-choose-content {
            margin-top: 20px;

            h3 {
                font-size: 22px;
                margin: 20px 0 0px;
            }

        }
    }
}