@import '../../assets/scss/style.scss';

.shop-wrapper { 
    background: rgb(244, 245, 247);
    padding: 50px 0;

    .shop-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 40px;

        .top-left {
            h3 {
                font-size: 22px;
            }

            p {
                color: $gray-color;
            }
        }

        .top-right {
            display: flex;
            align-items: center;

            .short-item {
                display: flex;
                margin-right: 20px;
                align-items: center;

                p {
                    margin: 0 10px 0 0;
                }
            }

            .view-item {
                display: flex;
                align-items: center;

                p {
                    margin: 0 10px 0 0;
                }

                button {
                    border: 1px solid $white-color;
                    background: $white-color;
                    color: $gray-color;
                    margin-right: 5px;
                }
            }
        }
    }

    .load-more {
        background: $blue-color;
        border: none;
        color: $white-color;
        padding: 10px 20px;
        border-radius: 5px;

        &.disabled {
            background: #dddddd;
        }
    }
}
