@import '../../assets/scss/style.scss';

.theme-btn {
    background: $black-color;
    color: $white-color;
    padding: 10px 45px;
    transition: .5s;
    border: 1px solid $black-color;

    &:hover {
        background: $white-color;
        color: $black-color;
    }
}