@import '../../assets/scss/style.scss';

.cart-section {
    padding-top: 100px;
    padding-bottom: 70px;

    .title {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .cart-box {
        table {
            width: 100%;

            thead {
                tr {
                    th {
                        padding: 10px 25px;
                        background: #f0f0f0;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        padding: 10px 25px;

                        .pd-img {
                            max-width: 100px;
                        }

                        .delete-cart {
                            background: white;
                            border: 0;
                            color: red;
                            font-size: 24px;
                            padding: 0;
                        }
                    }
                }
            }
        }
    }

    .cart-total {
        border: 1px solid #d4d4d4;
        border-radius: 10px;
        padding: 20px;

        h3 {
            font-size: 20px;
            margin-bottom: 25px;
        }

        p {
            color: $black-color;
            display: flex;
            justify-content: space-between;
            align-items: center;

            span {
                font-size: 20px;
                font-weight: 600;
            }
        } 

      .checkout-btn {
        background-color: $black-color;
        color: $white-color;
        border: 1px solid $black-color;
        padding: 8px 25px;
        transition: .3s linear;
        margin-top: 25px;
        width: 100%;

        &:hover {
            background: $white-color;
            color: $black-color;
        }
      }
    }
}