@import '../../assets/scss/style.scss';

.product-list {
    max-width: 100%;
    background: $white-color;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 15px -5px, rgba(0, 0, 0, 0.1) 0px 0px 10px -8px;
    display: flex;
    align-items: center;

    .product-img {
        background: #dee2e6;
        position: relative;
        width: 40%;
        padding: 30px;
        
        .product-fav {
            position: absolute;
            right: 15px;
            top: 15px;
            border: 0;
            width: 30px;
            height: 30px;
            text-align: center;
            background: $white-color;
            color: $blue-color;
            box-shadow: rgba(146, 153, 184, 0.082) 0px 5px 10px;
            border-radius: 30px;
        }
    }

    .product-info {
        padding: 25px;

        .product-title {
            font-size: 30px;
            color: $black-color;
            margin-bottom: 0px;
            transition: .5s;

            &:hover {
                color: $blue-color;
            }
        }

        .price-text {
            margin-bottom: 5px;

            .price {
                color: $blue-color;
                font-weight: 500;
                margin-right: 8px;
                font-size: 20px;
            }

            .prev-price {
                margin-right: 8px;
                font-size: 18px;
            }

            .price-off {
                color: $black-color;
                font-size: 14px;
            }
        }

        .rating-box {
            margin-bottom: 10px;
            display: flex;
            align-items: center;

            ul {
                margin-right: 10px;

               .single-rating {
                    display: inline-block;
                    color: #accb46;
                    font-size: 18px;
                    line-height: 0;
               }
            }

            .review-count {
                font-size: 14px;
                color: rgb(146, 153, 184);
            }
        }

        
        .bottom-btn {
            margin-top: 15px;
            display: inline-block;

            .cart-btn {
                background: $white-color;
                border: 1px solid rgb(0, 0, 0, .10);
                padding: 5px 15px;
                border-radius: 5px;
                margin-right: 10px;
                transition: .1s linear;

                &:hover {
                    background: $blue-color;
                    color: $white-color;
                }

                svg {
                    position: relative;
                    top: -2px;
                }
            }  

            .buy-btn {
                background: $blue-color;
                color: $white-color;
                border: 1px solid $blue-color;
                padding: 5px 15px;
                border-radius: 5px;
                width: 100px;
            }
        }
    }
}