@import '../../assets/scss/style.scss';

.link-btn {
    background-color: $black-color;
    color: $white-color;
    border: 1px solid $black-color;
    padding: 8px 25px;
    transition: .3s linear;
    margin-top: 25px;
    width: 100%;
    text-align: center;
    border-radius: 8px;

    &:hover {
        background: $white-color;
        color: $black-color;
    }
}