@import '../../assets//scss/style.scss';

.theme-tabs {

    .react-tabs__tab-list {
        border-bottom: 0;
        margin: 0;
        text-align: center;
    }

    .react-tabs__tab {
        border: none;
        color: $blue-color;
        padding: 0;
        margin: 5px 15px;
    }

    .react-tabs__tab--selected {
        color: $pink-color;
    }
}