@import '../../assets/scss/variables.scss';

.address-wrapper {
    .address-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        h2 {
            font-size: 25px;
        }

        .address-edit-btn {
            background: $black-color;
            color: $white-color;
            border: 0;
            padding: 5px 10px;
            border-radius: 50px;
        }
    }

    .address-text {
        list-style-type: none;
        
        li {
            color: $gray-color;
        }
    }
}