@import '../../assets/scss/style.scss';

.checkout-area {
    padding: 150px 0 100px;
    background: rgba(3, 0, 71, 0.09);

    .address-form {
        padding: 40px 30px;
        
        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }

        .address-wrapper {  
            .form-group {
                margin-bottom: 25px;

                label {
                    margin-bottom: 2px;
                    font-size: 14px;
                }

                .form-control {
                    margin-bottom: 15px;
                    height: 45px;
                    border-radius: 5px;
                    background: rgba(3, 0, 71, 0.09);

                    &:focus {
                        border: 1px solid $black-color;
                        box-shadow: none;
                    }
                }

                &.create-account {
                    input {
                        margin-right: 5px;
                        bottom: -1px;
                        position: relative;
                    }
                }
            }
        }
    }

    .checkout-summary {
        padding: 40px 30px;
        background: $white-color;
        margin-bottom: 20px;

        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }

        ul {
            list-style-type: none;

            .checkout-total {
                display: flex;
                justify-content: space-between;
                    
                p {
                    color: $black-color;
                    font-size: 20px;
                }

                span {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }

    .payment-info {
        padding: 40px 30px;
        background: $white-color;

        h3 {
            font-size: 25px;
            margin-bottom: 30px;
        }

        .payment-list {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
                margin: 10px 0;

                input {
                    margin-right: 5px;
                }
            }
        }

        .payment-btn {
            background: $black-color;
            color: $white-color;
            border: 1px solid $black-color;
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
        }
    }
}