@import '../../assets/scss/style.scss';

.checkout-area {
    padding: 150px 0 100px;
    background: rgba(3, 0, 71, 0.09);

    .address-form {
        border-radius: 10px;
        margin-bottom: 20px;
        background: $white-color;
        padding: 30px;

        h3 {
            font-size: 20px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        .form-group {
            margin-bottom: 25px;

            label {
                margin-bottom: 5px;
                font-size: 16px;
                color: $black-color;
            }

            .form-control {
                margin-bottom: 15px;
                height: 45px;
                border-radius: 5px;
                border: 0px transparent;
                background: rgba(3, 0, 71, 0.035);
                color: $black-color;
                font-weight: 500;

                &:focus {
                    box-shadow: none;
                }

                &::placeholder {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }

    .payment-info {
        border-radius: 10px;
        background: $white-color;
        padding: 30px;

        h3 {
            font-size: 20px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        .payment-list {
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            li {
                list-style: none;
                margin: 10px 0;

                input {
                    margin-right: 5px;
                }
            }
        }

        .payment-btn {
            background: $black-color;
            color: $white-color;
            border: 1px solid $black-color;
            padding: 10px 20px;
            border-radius: 5px;
            width: 100%;
            margin-top: 20px;
        }
    }

    .checkout-summary {
        padding: 30px;
        background: $white-color;
        border-radius: 10px;

        h3 {
            font-size: 20px;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        ul {
            list-style-type: none;

            .checkout-total {
                display: flex;
                justify-content: space-between;
                    
                p {
                    color: $black-color;
                    font-size: 20px;
                }

                span {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}