@import '../../assets/scss/style.scss';

.signin-section {
    height: 100vh;
    display: flex;
    align-items: center;

    .signin-wrapper {
        max-width: 600px;
        margin: auto;
        box-shadow: rgba(17, 12, 46, 0.10) 0px 0px 20px 0px;
        padding: 30px;
        align-items: center;

        .form-control {
            margin-bottom: 15px;
            border: 0;
            border-bottom: 1px solid #dddddd;
            border-radius: 0;
            box-shadow: none;
        }

        .signin-btn {
            margin-top: 10px;
            background: $black-color;
            border: 1px solid $black-color;
            color: $white-color;
            padding: 10px 30px;
        }
    }
}