@import '../../assets/scss/style.scss';

.featured-product {
    padding-top: 100px;
    padding-bottom: 70px;           

    .product-box {
        margin: 0 6px 20px;
    }

    .slick-dots {
        li {
            margin: 0px 5px;

            button {
                padding: 0; 
                width: 25px;

                &:before {
                    width: 15px;
                    height: 5px;
                    background: $black-color;
                    content: '';
                    right: 0;
                    margin: auto;
                    transition: .5s;
                }
            }

            &.slick-active {
                button {
                    &:before {
                        width: 30px;
                    }
                }
            }
        }
    }
}