@import '../../assets/scss/variables.scss';

.user-profile {
    padding: 100px 0;
    background: #dee2e6;
    height: 100vh;

    .user-sidebar {
        background: $white-color;
        padding: 30px;

        ul {
            li {
                list-style: none;
                
                .user-link {
                    color: $gray-color;
                    font-size: 18px;
                    padding: 5px 10px;
                    margin-bottom: 3px;
                    display: block;

                    svg {
                        margin-right: 10px;
                        top: -2px;
                        position: relative;
                    }

                    &.active {
                        color: $black-color;
                        font-weight: 500;
                    }
                }
            }
        }

        .signout-btn {
            border: none;
            background: $blue-color;
            width: 100%;
            margin-top: 20px;
            color: $white-color;
            padding: 10px 20px;
            border-radius: 5px;
            transition: .3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                background: $black-color;
            }
        }
    }

    .user-content {
        background: $white-color;
        padding: 30px;
    }
}