@import '../../assets/scss/variables.scss';

.success-wrapper {
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    .success-img {
        max-width: 200px;
    }

    h2 {
        color: #006400;
        font-size: 40px;
        font-weight: 600;
        margin: 20px;
    }
}