@import '../../assets/scss/variables.scss';

.checkout-wrapper {
    padding: 200px 0 70px;

    .address-form {
        border-radius: 10px;
        margin-bottom: 20px;
        background: $white-color;
        padding-right: 50px;

        h3 {
            font-size: 36px;
            margin-bottom: 50px;
        }

        .form-group {
            margin-bottom: 25px;

            label {
                margin-bottom: 5px;
                font-size: 16px;
                color: $black-color;
            }

            .form-control {
                margin-bottom: 15px;
                height: 45px;
                border-radius: 5px;
                border: 0px transparent;
                background: #dee2e6;
                color: $black-color;
                font-weight: 500;

                &:focus {
                    box-shadow: none;
                }

                &::placeholder {
                    font-size: 14px;
                    font-weight: 400;
                }
            }
        }
    }
}