@import '../../assets/scss/style.scss';

.header-wrapper {
    background: $white-color;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 4px -5px, rgba(0, 0, 0, 0.1) 0px 0px 5px -8px;

    .navbar {
        .navbar-brand {
            img {
                max-width: 150px;
            }
        }

        .navbar-nav {
            .nav-item {
                list-style-type: none;

                .nav-link {
                    color: $black-color;
                    font-size: 18px;
                    margin: 5px 10px;
                }
            }
        }
    }

    .header-right {
        display: flex;
        align-items: center;

        .header-signin, 
        .header-account {
            color: #eceef3;
            background: $black-color;
            padding: 10px 20px;
            border-radius: 5px;
            margin: 0 5px;
        }

        .header-account {
            background: $navy-color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
            font-size: 15px;

            span {
                font-size: 12px;
                display: block;
                letter-spacing: .5px;
            }
        }

        .menu-cart {
            margin: 0 10px;
            text-align: center;
            font-size: 22px;
            position: relative;
            width: 40px;
            height: 40px;
            border-radius: 5px;
            color: $black-color;

            .cart-item {
                position: absolute;
                top: -8px;
                right: -5px;
                font-size: 14px;
                background: #e9ecef;
                color: $black-color;
                width: 18px;
                height: 18px;
                border-radius: 50px;
            }
        }
    }
}
