@import '../../assets/scss/style.scss';

.sidebar-wrapper {
    .filters {
        .filter-item {
            background: $white-color;
            padding: 20px;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        .price-filter {
            h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .price-form {
                display: flex;
                justify-content: space-between;

                .price-input {
                    max-width: 90px;
                    padding: 2px 10px;
                    border: 1px solid $gray-color;
                }

                button {
                    background: $blue-color;
                    color: $white-color;
                    border: none;
                    font-size: 14px;
                    padding: 2px 10px;
                }
            }
        }

        .category-filter, .brand-filter {
            h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            .category-list, .brand-list {
                display: flex;
                flex-direction: column;

                label {
                    display: flex;
                    align-items: center;
                    text-transform: capitalize;
                    font-size: 17px;
                    margin-bottom: 5px;

                    input {
                        margin-right: 10px;
                    }
                }
            }
        }

        .rating-filter {
            h3 {
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 15px;
            }

            .rating-box {
                display: flex;
                align-items: center;
                margin-bottom: 5px;

                .single-rating {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    margin-left: 5px;
                    
                    ul {
                        line-height: 0;

                        li {
                            display: inline-block;
                            
                            svg {
                                color: #fa8b0c;
                            }
                        }
                    }

                    .rating-count {
                        width: 20px;
                        text-align: right;
                    }
                }
            }
        }
    }
}