@import '../../assets/scss/variables.scss';

.checkout-summary {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 30px 70px #010f1c1a;

    h3 {
        font-size: 20px;
        margin-bottom: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e8e8e8;
    }

    .order-info {
        list-style-type: none;
        display: flex;
        flex-direction: column;

        .single-order {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            justify-content: space-between;

            .pd-info {
                display: flex;
                align-items: center;

                .pd-img {
                    width: 60px;
                    height: 60px;
                    background: rgba(3, 0, 71, 0.09);
                    text-align: center;
                    display: flex;
                    place-items: center;
                    justify-content: center;
                    border-radius: 10px;
                    margin-right: 20px;
    
                    img {
                        max-width: 50px;
                    }
                }

                .quantity {
                    margin-left: 10px;
                    color: $gray-color;
                    font-size: 18px;
                }
            }
            
            .price {
                font-weight: 500;
            }
        }
    }

    .total-ammount {
        padding-top: 15px;
        border-top: 1px solid #eee;
        display: flex;
        justify-content: space-between;

        p {
            color: $black-color;
            font-size: 18px;
        }

        span {
            font-size: 20px;
        }
    }
}